---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/">
      <img border="0" alt="home" src="/images/home-icon32px.png">
    </a>
    <a href="https://github.com/mrpozzi">
      <img border="0" alt="mrpozzi" src="/images/github-logo-32px.png">
    </a>
    <a href="https://www.linkedin.com/in/lucaepozzi">
    <img border="0" alt="lucaepozzi" src="/images/linkedin-logo-34px.png">
  </a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
      <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
</article>
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
